.container1{
    display: flex;
    box-sizing: border-box;
    gap:30%;
    padding-left: 400px;

    
    
}
.container1  ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;

}
#chair{
float: left;
margin: right;
}
.container3{
    display: flex;
    box-sizing: border-box;
    gap: 40%
    
    

}
.container2{
    gap: 10%;
    text-align: left;
    
}
.button1{
    margin: 20px;
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: 222224;
  
    
}


.chair{
    display: flex;
    float:right;
    margin-top: -10%;
    width: 15%;
    padding-bottom: 50px;
    

}
.logo{
    position: absolute;
    top: 17px;
}
#sandra{
    position: absolute;
    left: 10px;
}
.div1{
    
}
.chair1{
    height: 15%;
    width: 300px;

}
.chair2{
    height: 25%;
    width: 400px;
}
.bed1{
    height: 25%;
    width: 200px;
}
#product{
    text-align: center;
    font-size: 200%;
}
.table2{
    height: 15%;
    width: 300px;
}
.chair3{
    height: 55%;
    width: 600px;
    padding: 20px;
}
.chair4{
    height: 15%;
    width: 310px;
    padding: 20px;
}
.nav1{
    display: flex;
    box-sizing: border-box;
    margin-left: 30%;
    gap: 20%;
    background-color: black;
    

}
.button2{
    margin: px;
    padding: 2px;
    width: 80px;
    border-radius: 10px;
    background-color: 222224;
  

}
.table5{
    height: 50%;
    width: 300px;
}
.container5{
    width: 300px;
    height: 50%;
}
.container6{
    width: 25%;
    height:150px;
    padding: 50px;
}
.div4{
    display: flex;
}
.imag1{
    float: left;

}
.imag2{
    height: 10%;
}
.Get{
    text-align: center;
    background-color: black;
    color: white;
}
.container8{
    display: flex;
    
}
.container9{
    margin: 60px;
}
.img4{
    width: 100%;
    height: 400px;
}
.all{
    display: flex;
    gap: 15%;
    background-color:black;
    color: white;
}
.names{
    display: flex;
    gap: 25%;
}
.table10{
    height: 500px;
    width: 50%;
}


.container7{
    display: flex;
}
.table13{
    height: 100%;
    width: 200px;
}
  .container16{
    height: 10px;
    width: 50%;
  } 
  .details{
    display: flex;
    gap: 30%;
    font-size: large;
    margin: 50px;
    text-align: center;
    padding: 10px;
  }
